{% load static %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<h1>POSTS</h1>
{% if request.user.is_authenticated %}
<ul>

    <li>
        <a href="{% url 'blog:admin'%}?logout">Cerrar Sesión</a>
    </li>
    <li>
        <a href="{% url 'blog:create'  %}">Crear post</a>
    </li>
    {% if error %}
    <li>
        {{ error }}
    </li>
    {% endif %}
</ul>
{% else %}
<br>
<a href="{% url 'blog:admin' %}">Iniciar Sesión</a>
<br>
{% endif %}

{{ posts }}



{% for post in posts %}
<div>
    <p>published: {{ post.published_date }}</p>
    <h1><a href="{% url 'blog:detail' post.pk%}">
            {% if post.title %}
                {{ post.title }}
            {% else %}
                {{ post.pk }}
            {% endif %}
        </a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}